html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
}

body {
    margin: 0;
}

nav {
    display: none;
}

a.navicon > img {
    outline: 3px solid navy;
    background-color: whitesmoke;
    height: 12.5vw;
    width: 12.5vw;
}

a.navicon:hover+nav, nav:hover {
    display: block;
}

ul {
    list-style: none inside;
    margin: 0;
    padding: 0;
}

ul.mainmenu > li {
    font-size: 2.5em;
    text-indent: 1em;
    background-color: bisque;
}

ul::after {
	clear: both;
	content: "";
	display: table;
}

h1, h2 {
    text-align: center;
    color: white;
    text-shadow: -1px 2px 0px black;
}

img {
    height: 85%;
    width: 85%;
}

#bluey {
    rotate: 15deg;
}

#rachel {
    box-shadow: rgb(255, 105, 180) 10px 10px 150px inset, 
				rgb(255, 105, 180) -10px -10px 150px inset;
    border-radius: 50%;            
}

#mickey {
    filter: grayscale(100%);
}

@media only screen and (max-width: 600px) {

    #bluey {
        height: 65%;
        width: 65%;
        padding-left: 65px;
    }

    div.elmo {
        padding-top: 35px;
    }
    
    #elmo {
        height: 55%;
        width: 55%;
        padding-left: 85px;
    }
    
    div.rachel {
        padding-left: 50px;
        padding-top: 35px;
    }

    div.josh {
        padding-left: 50px;
    }

    div.mickey {
        padding-left: 50px;
        padding-top: 25px;
    }
}


@media only screen and (min-width: 600px) {
     
     a.navicon {
         display: none;
     }
     
     ul.mainmenu > li {
         float: left;
         width: 25%;
         font-size: 1.5em;
         text-align: center;
     }
 
     ul.mainmenu {
         width: 100%;
     }
 
     nav {
         width: 100%;
         display: block;
     }

    div.flex {
        display: flex;
        flex-wrap: row wrap;
    }

    div.elmo {
        padding-right: 50px;
    }
}