html {
    font-family: sans-serif;
    background-color: aqua;
}

nav {
    width: 100%;
    display: block;
}

ul.mainmenu > li {
    float: left;
    width: 33.33%;
    font-size: 1.5em;
    text-align: center;
}

ul.mainmenu {
    width: 100%;
}

ul::after {
    clear: both;
    content: "";
    display: table;
}

h1 {
    text-align: center;
}